*{
margin: 0; 
padding: 0;
box-sizing: border-box;
}
input{
    border: 1px solid red ;
    color: blue;
}

input::placeholder{
color: rgb(181, 15, 162);

}
p{
    color: blue;
}
p::first-letter{
    color: crimson;
}

a{
    color: #34ff52;

}

a::before{
    content: "-->";
}